.header {
  padding: 48px 24px 0;
  background-color: $midnight-green;
  @include flex(row, 0px);
  justify-content: space-between;
  align-items: center;

  &__img {
    width: 128px;
  }

  &__burguer {
    width: 20px;
  }

  &__nav {
    @include grid-centered(0px);
    display: none;
  }
}
