// TYPOGRAPHY
$weights: (
  "bold": 700,
  "semibold": 600,
);

@mixin headers($font-size, $line-height) {
  font-weight: map-get($map: $weights, $key: "bold");
  font-size: $font-size;
  line-height: $line-height;
}

@mixin body($font-size, $line-height) {
  font-weight: map-get($map: $weights, $key: "semibold");
  font-size: $font-size;
  line-height: $line-height;
}

@mixin h1-large {
  @include headers(10rem, 10rem);
}

@mixin h1-small {
  @include headers(6.4rem, 5.6rem);
}

@mixin h2 {
  @include headers(4.8rem, 4.8rem);
}

@mixin h3 {
  @include headers(1.8rem, 2.8rem);
}

@mixin body1 {
  @include body(1.8rem, 2.8rem);
}

@mixin body2 {
  @include body(1.5rem, 2.5rem);
}
